.tripItemIconContainer {
  display: flex;
  justify-content: center;
}

.tripItemIconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tripItemText,
.tripItemTitle {
  text-align: left;
}

.tripItemTitle {
  font-weight: bold;
}

.tripItemIcon {
  margin-right: 0.25rem;
  vertical-align: text-top;
  margin-top: 2px;
}

.tripItemReference {
  text-align: left;
  font-family: monospace;
}

.tripItemHeader {
  padding-top: 0;
  padding-bottom: 0;
}
