.tripListTextContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 75%;
  flex-wrap: wrap;
}

.tripListTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 100%;
}

.tripListThumbContainer {
  background-color: #dedede;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  align-self: stretch;
}

.tripListThumb {
  aspect-ratio: 16 / 9;
}
