.tripListTextContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 75%;
  flex-wrap: wrap;
}

.tripListTextOverImage {
  color: #ffffff;
}

.tripListTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 100%;
}

.tripListDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.tripListLocationText {
  display: flex;
  max-width: 65%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tripListTextIcon {
  margin-right: 0.25rem;
}

.cardContentPaddingOverride {
  padding-bottom: 16px !important;
}
