.emptyTripSuggestionTitle,
.emptyTripSuggestionSubtitle {
  text-align: left;
}

.emptyTripSuggestionTitleIcon {
  margin-right: 0.75rem;
  vertical-align: text-top;
  margin-top: 2px;
}

.emptyTripSuggestionLinksContainer {
  margin: 0.5rem 0;
}
