.App {
  text-align: center;
}

.header {
  font-family: Paytone One, sans-serif;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: rgba(28, 109, 208, 0.5);
}

header a {
  text-decoration: none;
  transition: all 250ms ease;
  position: relative;
  transition: clip-path 275ms ease;
}

header a:hover span::before, header a:focus span::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  color: rgba(235, 228, 223, 1);
}

header a span {
  position: relative;
  display: inline-block;
  color: rgba(255, 248, 243, 1);
}

header a span::before {
  position: absolute;
  content: "Let's Plan";
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgba(235, 228, 223, 1);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  transition: clip-path 250ms ease;
}

main {
  min-height: 90vh;
}

footer {
  margin-top: 2rem;
}

main p a, main p a:visited {
  color: black;
}
