.itemDayHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  z-index: 100;
}

.tripItemPlaceholder,
.tripDayHeaderPlaceholder {
  border-radius: 4px;
  margin-bottom: 1rem;
}

.tripDayHeaderPlaceholder {
  font-size: 2.5rem;
}

.headerTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
