.tripListContainer {
  margin-top: 3rem;
}

.tripListTextContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}

.tripListTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 100%;
}

.tripListItemPlaceholder {
  border-radius: 4px;
}
